@media (max-width: 1200px) {
    .about {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1000px) {
    #main-layer {
        left: -46%;
    }

    .about {
        padding-top: 0px;
    }
}

@media only screen and (max-width: 1600px) {
    .about__container {
        flex-flow: column;
        align-items: center;
        gap: 0px;
        padding-top: 0px;
        padding: 50px;
    }
    .about__head {
        margin-bottom: 40rem;
    }
    .about__description {
        margin-top: 0px;
    }
}
@media only screen and (max-width: 1650px) {
    .layer7 {
        transform: translateY(3vh);
    }
}
@media only screen and (max-width: 600px) {
    #main-layer {
        left: -33%;
    }
    .contact__container {
        padding-top: 100px;
    }
    .projects__header {
    }
    .about__description {
    }
    .about__head {
        transform: scale(0.6) !important;
        width: 70rem;
    }
    .about-middle {
        margin-bottom: 50px;
    }
}