.about {
    width: 100vw;
    position: relative;
    z-index: 1;
    min-height: 100vh;
    top: 99.9vh;

    background-color: #060303;

    &__container {
        overflow: hidden;
        display: flex;
        flex-flow: row-reverse;
        justify-content: center;
        z-index: 300;
        padding: 9rem;
        gap: 5rem;
        padding-bottom: 20rem;
        transform-origin: bottom;
        margin: auto;
        flex-wrap: wrap;
        @include respond(phone) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
    &__header {
        color: white;
        font-size: 5.6rem;
        text-transform: uppercase;
        animation: fade-in 1s forwards;
        animation-delay: 2s;
        opacity: 0;
    }
    &__description {
        font-size: 2rem;
        color: white;
        text-align: center;
        padding: 5rem;
        background-image: linear-gradient(#ffffff 0%, #707070 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        max-width: 80rem;
        margin-top: 7rem;
    }
    &__head {
        min-width: 52.5rem;
        min-height: 40rem;
        margin-bottom: 5rem;
        transform-origin: bottom;
        animation: flow 2s ease-in-out infinite;

        @include respond(phone) {
            transform: scale(0.6) !important;
        }
    }
}
.corners {
    position: relative;
    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        visibility: hidden;
        box-sizing: border-box;
    }

    &::after {
        right: 0px;
        top: 0px;
        border-top: $color-primary solid 10px;
        border-right: $color-primary solid 10px;
    }
    &::before {
        bottom: 0px;
        border-left: $color-primary solid 10px;
        border-bottom: $color-primary solid 10px;
    }
}
.animated {
    & .corners {
        &::before {
            animation: corner2 2s forwards;
            animation-delay: 1s;
        }
        &::after {
            animation: corner1 2s forwards;
            animation-delay: 1s;
        }
    }
    & .about__description {
        animation: pop-up 1s forwards;
    }
    & .head {
        animation: jump-in 1s forwards;
    }
}

.head {
    width: 100%;
    position: relative;
    opacity: 0;
    transform-origin: center;

    &::after {
        display: block;
        content: "";
        width: 450px;
        position: absolute;
        height: 450px;
        border-radius: 50%;
       // background: linear-gradient($color-secondary, $color-primary);
        top: 150px;
        left: 0px;
        z-index: -1;
        filter: blur(20px);
        opacity: 0.5;
        animation: flow2 2s ease-in-out infinite;
    }
    &__image {
        position: absolute;
        left: 50px;
        top: 00px;
        height: 600px;
        z-index: 150;
    }

    &__eyes {
        position: absolute;
        left: 150px;
        top: 208px;
        z-index: 350;
        display: flex;
        width: 500px;
        gap: 100px;
    }
    &__eye {
        position: relative;
        border-radius: 50%;
        background-color: $color-grey;
        position: relative;
        width: 35px;
        height: 35px;
        z-index: 400;
        &:nth-child(2) {
            top: -9px;
        }
        &__middle {
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 10px;
            width: 25px;
            height: 25px;
            background-color: black;
            transform: translate(-50%, -50%);
            border: 5px solid #005500;
            box-sizing: border-box;
        }
    }
    &__words {
        height: 100vh;
        transform-origin: center;
        overflow: visible !important;
        perspective: 10px;
        perspective-origin: center;
        transform: rotateX(70deg);
    }
    &__word {
        font-size: 25px;
        position: absolute;
        display: inline-block;
        width: 120px;
        font-weight: 600;
        color: $color-grey;
        transition: 1000ms linear;
    }
}

.perspective-image {
    display: flex;

    &--right {
        justify-content: right;
    }
    &--left {
        justify-content: left;
    }
    & img {
        filter: drop-shadow(0px 40px 25px $color-primary);
        width: 75%;

        object-fit: contain;
        transition: 0.5s;
        &:hover {
            transform: scale(1.2);
            filter: drop-shadow(0px 60px 80px $color-primary);
        }
    }
}



@media only screen and (max-width: 1600px) {
    .about__description {
        margin-top: 0px;
    }
}

body {
    background-color: black;
    height: 100vh;
    margin: 0rem;
    overflow: hidden;
}



#blob {
    background-color: white;
    height: 25vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, $color-primary, $color-secondary);
    animation: rotate 20s infinite;
    opacity: 0.8;
    z-index: -2;
}

#blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(10vmax);
    background:linear-gradient(to bottom,#060303,#00000000 10%,#00000000 90% ,#060303);
    mask-image: linear-gradient(to bottom, black 25%, transparent 75%);
    
}

