.contact {
    width: 100vw;
    position: relative;
    padding-top: 10rem;
    z-index: 1;
    top: 50vh;
    width: 100vw;
    min-height: 100vh;
    background-color: #060303;

    &__container {
        min-height: 60vh;
        padding: 8rem;
        display: flex;
        flex-flow: row;
        gap: 10rem;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &__icon {
        font-size: 8rem;
        color: white;
        transform: rotate(-45deg);
        text-align: center;
    }
    &__header {
        text-align: center;
        font-size: 6rem;
    }


    &__option {
        position: relative;
        transform: rotate(45deg);
        padding: 3.5rem;
        background-color: #303030;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 10px #202020 solid;
        border-bottom: 10px #505050 solid;
        transition: 0.5s;
        cursor: pointer;
        &:hover {
            transition: 0.5s;
            transform: translateY(-50px) rotate(45deg);
            box-shadow: 50px 50px 100px 0px #ae4819aa;
            background-color: #ae4819;
            border-right: 10px #c04f30 solid;
            border-bottom: 10px #97361a solid;
        }
    }
}






