@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin absolute-full-size {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
}
@mixin full-viewport {
    min-height: 100vh;
    min-width: 100vw;
}